body {
    background-image: url("./Preview_Image_00000.jpg");
    background-size: cover;
}

div.stuff-background {
    text-align: center;
}
.stuff-background {
    width: 60%;
    background: white;
    opacity: 0.6;
    margin: 0 auto;
    border-radius: 30px;
}

ul {
   width: 50%;
    margin: 0 auto;
}
